h1{
    text-align: center;
}
.form{
    text-align: center;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}
.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-group label {
    width: 80px;
    text-align: right;
    margin-right: 10px;
}
.form-group input {
    flex: 1;
}
.form-actions {
    text-align: right;
   margin-left: 100px;
    margin-top: 20px;
}
a{
    display: inline-block;
    text-decoration: none;
    color: black;
    margin-right: 20px;
}
a:hover{
    color: blue;
}