h1{
    text-align: center;
}
.container{
    text-align: center;
    margin:0 auto;
    width: 300px;
    height: 300px;
}
.form-group{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.form-group input{
    flex:1;
}
.form-group label{
    width: 90px;
    text-align:  right;
    margin-right: 5px;
}
.from-action{
    text-align: right;
}
